
:root {
  --bg-color: #ffffff;
  --text-color: #363636;
  --link-color: #0070f3;
  --dim-color: #888888;
  --border-color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a; /* 或 #0f172a 偏蓝黑 */
    --text-color: #efefef;
    --link-color: #4caee3;
    --dim-color: #a0a0a0;
    --border-color: #444444;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans SC", sans-serif;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
  

  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}


a {
  color: var(--link-color);
  text-decoration: none;
  transition: opacity 0.2s;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}


ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  margin-bottom: 0.6rem;
}

/* 分割线 */
hr {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 2.5rem 0;
}


.bio {
  font-style: italic;
  color: var(--dim-color);
  margin-top: 0;
}

footer {
  margin-top: 4rem;
  font-size: 0.85rem;
  color: var(--dim-color);
  border-top: 1px solid var(--border-color); 
  padding-top: 2rem;
}

small {
  font-size: 0.85em;
  color: var(--dim-color);
  display: block; 
  margin-top: 0.1rem;
}